<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDuPpJvNErsgxTzsBhjAZzVT_WhQtzkoBg</string>
	<key>GCM_SENDER_ID</key>
	<string>613304974084</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alanko.ai</string>
	<key>PROJECT_ID</key>
	<string>wonderbox-a944e</string>
	<key>STORAGE_BUCKET</key>
	<string>wonderbox-a944e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:613304974084:ios:5a7a5a23a01b0b6a5a2e51</string>
</dict>
</plist>